// Nextflow configuration for GO Enrichment Analysis

nextflow {
    enable.dsl=2
}

// Execution settings
process {
    executor = 'local' // run on local machine
    errorStrategy = 'finish' // mark failed and continue with other process
    maxRetries = 2 // try tto run it 2 times before mark it fail
}

// Container configuration
docker {
    enabled = true
    runOptions = '-u \$(id -u):\$(id -g)' // allow user level run of the container
}

// Reporting and tracing
report {
    enabled = true
    file = "execution_report.html"
}

timeline {
    enabled = true
    file = "timeline.html" // Shows when each process started/ended and how long it took
}

trace {
    enabled = true
    file = "trace.txt"
    fields = 'task_id,hash,native_id,process,tag,status,exit,module,container,cpus,memory,duration,realtime,queue,submit,start,complete' // Produces a tab-separated log of all tasks with detailed metadata
}

dag {
    enabled = true
    file = "dag.svg" // Creates a workflow diagram showing how tasks depend on one another.
}

// Manifest: to define pipeline metadata used by Nextflow and for publishing
manifest {
    name = 'GO Enrichment Analysis'
    author = 'Nerita21'
    homePage = 'https://github.com/Nerita21/GO_enrichment_analysis'
    description = 'Comparative analysis of GO term clustering methods'
    version = '2.0.0'
    mainScript = 'main.nf'
    defaultBranch = 'main'
    nextflowVersion = '>=24.04.0'
}

// Profiles for different environments (Defines different presets depending on where the pipeline runs)
profiles {
    local {
        process.executor = 'local'
    }
    
    docker {
        docker.enabled = true
    }
    
    conda { // for users that cannot use docker
        conda.enabled = true
        process.conda = "${projectDir}/environment.yml"
    }
    
    standard {
        process.executor = 'local'
        docker.enabled = false
    }
    
    slurm { // for HPC users: High-Performance Computing cluster (many powerful computers working together)
        process.executor = 'slurm' // Job scheduler that manages tasks on the HPC
        process.queue = 'normal'
        process.time = '24h'
        process.memory = '16 GB'
    }
}

// Default parameters (for portability)
params {
    input_tsv = "${launchDir}/data/raw/target_genes_hsa_mir_107.tsv"
    go_obo = "${launchDir}/data/background/go-basic.obo"
    goa_gaf = "${launchDir}/data/background/goa_human.gaf.gz"
    output_dir_py = "${launchDir}/results/Python_based"
    output_dir_r = "${launchDir}/results/R_based"
    comparison_dir = "${launchDir}/results/comparison"
    // Docker image names for per-language images
    image_python = 'go-enrichment-python:latest'
    image_r = 'go-enrichment-r:latest'
}